body{
  box-sizing: border-box;
  background-image: url('http://wallpaperclicker.com/storage/wallpaper/Hd-Backgrounds-23710610.jpg');
  background-size: cover;
  background-attachment: fixed;
  
}

.topNav{
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #333;
  height: 50px;
  margin-right: 0px;
  margin-left: -8px;
}

.topNav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.section{
  width: 100%;
  min-height: 500px;
}

.jumbotron{
  min-height: 500px;
  margin-top: 2%;
  text-align: center;
}
.jumbotron_image_block{
  height: 70%;
  padding-top: 50px;
  padding-right: 20px;
  display: inline-block;
  margin:0 auto; 
}
.jumbotron_title{
  height: 70%;
  padding-top: 50px;
  display: inline-block;
  vertical-align: top;

}

.jumbotron_name{
  display: block;
  font-size: 3em;
  padding-top: 40px;
  color: #FEFE33;
}
.jumbotron_image{
  width: 70%;
  height: 100%;
  border-radius: 50px;
}

.jumbotron_desc{
    font-size: 1.5em;
    color: white;
}

/* bio  */
#bio{
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #B2D732;
  min-height:  300px;
  text-align: center;
}

.bio_desc{
  width: 70%;
  margin:0 auto;
  text-align: justify;
  font-size: 1.5em;

}

/* projects  */
#projects{
  width: 100%;
  padding-top: 20px;
  text-align: center;
  

}

.project{
  padding-top: 1px;
  padding-bottom: 5px;
  margin: 10px 0px;
  min-height: 300px;
  background-color: #F7F7F7;

}

.project a{
  color: #B2D732;
}
.img_project_block{
  width: 35%;
  display: inline-block;
  padding-left: 20px;
  vertical-align: top;
 
}
.img_project{
  width: 100%;
  height: auto;

}

.des_project{
    width: 55%;
    padding-left: 10px;
    display: inline-block;
    text-align: center;
}
.desc_project_p p{
  text-align: justify;
}

/* skills  */
#skills{
  padding-top: 10px;
  min-height: 300px;
  background-color: #B2D732;
  text-align: center;


}
.skill{
  display: inline-block;
  width: 20%;
  text-align: left;


}

/* contact */
#contact{
  margin-top: 20px;
  padding-top: 1px;
  text-align: center;
  min-height: 200px;
  background-color: #F7F7F7;
}


@media only screen and (max-width: 768px){



}

@media only screen and (max-width: 564px){



 
}
