body{
  box-sizing: border-box;
  background-image: url('http://wallpaperclicker.com/storage/wallpaper/Hd-Backgrounds-23710610.jpg');
  background-size: contain;
  
}

.topNav{
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #333;
  height: 50px;
}

.topNav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.section{
  width: 100%;
  min-height: 500px;
}

.jumbotron{
    margin-top: 100px;
    text-align: center;
}
.jumbotron_image_block{
  height: 300px;
  padding: 50px;
  display: inline-block;
  margin:0 auto; 
}
.jumbotron_title{
  height: 300px;
  padding: 50px;
  display: inline-block;
  vertical-align: top;

}

.jumbotron_name{
  display: block;
  font-size: 3em;
  padding-top: 40px;
  color: #FEFE33;
}
.jumbotron_image{
  width: 300px;
  height: 300px;
  border-radius: 50px;
}

.jumbotron_desc{
    font-size: 1.5em;
    color: white;
}

/* bio  */
#bio{
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  background-color: #B2D732;
  height:  300px;
  text-align: center;
}
.bio_desc{
  width: 70%;
  margin:0 auto;
  text-align: justify;
  font-size: 1.5em;

}

#projects{
  width: 100%;
  padding-top: 20px;
  text-align: center;
  

}

.project{
  padding-top: 20px;
  margin: 10px 0px;
  min-height: 300px;
  background-color: #F7F7F7;

}

.img_project_block{
  width: 35%;
  display: inline-block;
  padding-left: 20px;
 
}

.des_project{
    width: 55%;
  
    display: inline-block;
    text-align: center;
}

