body{
  box-sizing: border-box;
  background-image: url('http://wallpaperclicker.com/storage/wallpaper/Hd-Backgrounds-23710610.jpg');
  background-size: cover;
  background-attachment: fixed;
  
}

.topNav{
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #333;
  height: 60px;
  margin-right: 0px;
  margin-left: -8px;
}

.topNav a {
    float: right;
    display: block;
    font-size: 2vw;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.topNav a:hover {
    background: #ddd;
    color: black;
}
.section{
  width: 100%;
  min-height: 500px;
}
.jumbotron{
  min-height: 500px;
  margin-top: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
}
.row{
  height: 80%;
  width: 100%;
  padding-top: 50px;
}
.jumbotron_image_block{
  height: 100%;
  width: 30%;
  display: inline-block;
  margin:0 auto;
   
}
.jumbotron_title{
  height: 100%;
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.jumbotron_h{
  color: #FEFE33;
  font-size: 5vw;
}

.jumbotron_h2{
  color: #FEFE33;
  font-size: 4vw;
}
.jumbotron_image{
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.jumbotron_desc{
  font-size: 3vw;
  padding-top: 50px;
}

/* bio  */
#bio{
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #B2D732;
  min-height:  200px;
  text-align: center;
}

.bio_desc{
  width: 70%;
  margin:0 auto;
  text-align: justify;
  font-size: 1.5em;

}

/* projects  */
#projects{
  width: 100%;
  padding-top: 20px;
  text-align: center;
  

}

.project{
  padding-top: 1px;
  padding-bottom: 5px;
  margin: 10px 0px;
  min-height: 300px;
  background-color: #F7F7F7;

}

.project a{
  color: #B2D732;
}
.img_project_block{
  width: 35%;
  display: inline-block;
  padding-left: 20px;
  vertical-align: top;
 
}
.img_project{
  width: 100%;
  height: auto;

}

.des_project{
    width: 55%;
    padding-left: 10px;
    display: inline-block;
    text-align: center;
}
.desc_project_p p{
  text-align: justify;
}

/* skills  */
#skills{
  padding-top: 1px;
  min-height: 300px;
  background-color: #B2D732;
  text-align: center;


}
.skill{
  display: inline-block;
  width: 23%;
  text-align: left;
  overflow: hidden;
  vertical-align: top;


}
.skill ul{
  padding-left: 10px;
}
.skill ul li{
  list-style-type: none;
}

/* contact */
#contact{
  margin-top: 20px;
  padding-top: 1px;
  text-align: center;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.4);
   
}

.contact_text{
  font-weight: bold;
  color: #000000;
}

.contact_icon{
  font-size: 3em;
  margin: 10px;
}

.contact_icon a{
  color: #FEFE33;
}


@media only screen and (max-width: 768px){
  .jumbotron{
    min-height: 300px;
}
  .jumbotron_image{
    height: auto;
  }
  .img_project_block, .des_project{
    width: 100%;
    padding-left: 0px;
  }
  
  .desc_project_p{
    padding: 10px;
  }

  .jumbotron_desc{
    padding-top: 0px;
    padding-bottom: 15px;
  }

  .jumbotron_h{
  font-size: 7vw;
}

.jumbotron_h2{
  font-size: 6vw;
}


}

@media only screen and (max-width: 576px){
  .jumbotron{
    min-height: 300px;
  }
  .row{
    min-height: 200px;
  }
  /*.jumbotron_h{
    font-size: 2em;
  }*/

  .jumbotron_image_block, .jumbotron_title{
    width: 100%;
  }
  .jumbotron_image{
    height: 70%;
  }
  .jumbotron_desc{
    padding-top: 0px;
    font-size: 4vw;
  }

  .bio_desc{
    width: 90%;
    font-size: 1em;

  }
  
 
}
